.events-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  .list-container {
    padding: 20px;
    height: 60%;
    border-radius: 10px;
    width: 60%;
    border: 3px solid lightgray;
    display: flex;
  
    align-items: center;
    justify-content: center;
  }