.events-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  .list-container {
    padding: 20px;
    height: 60%;
    border-radius: 10px;
    width: 60%;
    border: 3px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .center{
    display: flex;
    align-items: center;
  }
  
  .video{
    width: 50px;
    margin-right: 10px
  }
  .event-ul{
    padding: 0px;
    list-style-type: none;
    
  }
  .li-details-section{
    width: 60%;
  }
  .li-images-section{
    width: 40%;
  }
  .each-li{
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid lightgray;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }