.main-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .label {
    margin-bottom: 10px;
    font-weight: 600;
  }
  .title {
    padding: 5px;
  }
  .input {
    margin-bottom: 10px;
  }
  .ul {
    padding: 0px;
    list-style-type: none;
    height: 100px;
    overflow: auto;
  }
  .delete-icon {
    color: red;
  }
  .d-flex-space-between {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }