.main-guest{
    width:100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list{
    padding: 20px;;
    display: flex;
    flex-wrap: wrap;
}
.event-details-d-flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.each-img{
    height: 200px;
    width: 380px;
    margin: 10px;
}
.center-event-details{
    display: flex;
}
.event-container{
    text-align: center;
}
span{
    color: blueviolet;
    font-weight: 600;
}
.column{
    display: flex;
    flex-direction: column;
}
.button-edit-delete{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 800;
    margin: 5px;
    border-radius: 6px;
    padding: 3px 15px;
}
.pop-up-constainer{
    background-color: rgb(241, 211, 171);
    box-sizing: border-box;
    height: 30vh;
    width: 30vw;
    padding: 30px;
    font-weight: 600;
    text-align: center;
    border-radius: 25PX;
}